<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Conta</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.1/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">

<div class="flex items-center justify-center h-screen">
    <div class="bg-white p-8 rounded-lg shadow-lg max-w-md w-full">
        <h2 class="text-3xl font-bold text-center mb-6">Crie uma nova conta</h2>
        <form id="registrationForm">
            <div class="mb-4">
                <label for="fullName" class="block text-gray-700 font-semibold mb-2">Nome Completo *</label>
                <input type="text" id="fullName" class="form-input w-full px-4 py-2 border rounded-lg focus:border-blue-500" required placeholder="James Brown">
            </div>
            <div class="mb-4">
                <label for="email" class="block text-gray-700 font-semibold mb-2">Endereço de Email *</label>
                <input type="email" id="email" class="form-input w-full px-4 py-2 border rounded-lg focus:border-blue-500" required placeholder="hello@alignui.com">
            </div>
            <div class="mb-6">
                <label for="password" class="block text-gray-700 font-semibold mb-2">Senha *</label>
                <input type="password" id="password" class="form-input w-full px-4 py-2 border rounded-lg focus:border-blue-500" required placeholder="••••••••">
                <p class="text-gray-600 text-xs mt-1">Deve conter 1 letra maiúscula, 1 número, no mínimo 8 caracteres.</p>
            </div>
            <button type="submit" id="registerButton" class="w-full bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-150 ease-in-out">
                Registrar <span id="loadingSpinner" class="hidden ml-2">&#9696;</span>
            </button>
            <p class="text-gray-600 text-xs text-center mt-3">Já tem uma conta? <a href="/usuario/login" class="text-blue-500 hover:underline">Faça login aqui</a>.</p>
        </form>
    </div>
</div>

<!-- Design da Resposta -->
<div id="responseAlert" class="hidden fixed top-0 left-0 w-full h-full bg-gray-800 bg-opacity-50 flex items-center justify-center">
    <div id="responseContainer" class="bg-white p-8 rounded-lg shadow-lg max-w-sm transform scale-0">
        <h2 class="text-2xl font-semibold text-center mb-4">Resposta do Servidor</h2>
        <div id="responseContent" class="text-gray-600"></div>
        <button id="closeAlert" class="w-full mt-4 bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">Fechar</button>
    </div>
</div>


<script>
    $(document).ready(function() {
        $('#registrationForm').submit(function(event) {
            event.preventDefault();

            var fullName = $('#fullName').val();
            var email = $('#email').val();
            var password = $('#password').val();

            // Desativa o botão e exibe o spinner
            $('#registerButton').prop('disabled', true);
            $('#loadingSpinner').removeClass('hidden');

            $.ajax({
                type: 'POST',
                url: '/usuario/create',
                data: {
                    fullName: fullName,
                    email: email,
                    password: password
                },
                dataType: 'json',
                success: function(response) {
                    $('#responseContent').html(response.message);
                    showResponseAlert();
                },
                error: function(error) {
                    console.error('Erro ao enviar dados:', error);
                    $('#responseContent').html('Ocorreu um erro. Tente novamente.');
                    showResponseAlert();
                },
                complete: function() {
                    $('#registerButton').prop('disabled', false);
                    $('#loadingSpinner').addClass('hidden');
                }
            });
        });

        $('#closeAlert').click(function() {
            hideResponseAlert();
        });
    });

    function showResponseAlert() {
        $('#responseContainer').removeClass('scale-0');
        $('#responseAlert').removeClass('hidden');
    }

    function hideResponseAlert() {
        $('#responseContainer').addClass('scale-0');
        setTimeout(function() {
            $('#responseAlert').addClass('hidden');
        }, 300);
    }
</script>

</body>
</html>
