<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.1/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">

<!-- Tela de Login -->
<div class="flex items-center justify-center h-screen">
    <div class="bg-white p-8 rounded-lg shadow-lg max-w-md w-full">
        
        <h2 class="text-2xl font-semibold text-center mb-4">Faça login na sua conta</h2>
        <p class="text-gray-600 text-center mb-6">Insira seus dados para acessar sua conta.</p>
        <form id="loginForm">
            <div class="mb-4">
                <label for="email" class="block text-gray-700 text-sm font-semibold mb-2">Endereço de Email *</label>
                <input type="email" id="email" class="form-input w-full px-4 py-2 border rounded-lg text-gray-700 focus:border-blue-500 focus:ring focus:ring-blue-200" required placeholder="hello@alignui.com">
            </div>
            <div class="mb-6">
                <label for="password" class="block text-gray-700 text-sm font-semibold mb-2">Senha *</label>
                <input type="password" id="password" class="form-input w-full px-4 py-2 border rounded-lg text-gray-700 focus:border-blue-500 focus:ring focus:ring-blue-200" required placeholder="••••••••">
                <p class="text-gray-600 text-xs mt-1"><a href="#" class="text-blue-500 hover:underline">Esqueceu sua senha?</a></p>
            </div>
            <button type="submit" id="loginButton" class="w-full bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 transition duration-150 ease-in-out">
                <span id="buttonText">Entrar</span>
                <span id="loadingSpinner" class="hidden animate-spin ml-2">&#9696;</span>
            </button>
            <hr>
              
        
        </form>
        <hr>
        <button id="btnlink" class="w-full bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 transition duration-150 ease-in-out">
                <span>Fazer login no site viniciusdev.com.br</span>
            </button>
    </div>
</div>

<!-- Design da Resposta -->
<div id="responseAlert" class="hidden fixed top-0 left-0 w-full h-full bg-gray-800 bg-opacity-50 flex items-center justify-center">
    <div id="responseContainer" class="bg-white p-8 rounded-lg shadow-lg max-w-sm transform scale-0">
        <h2 class="text-2xl font-semibold text-center mb-4">Resposta do Servidor</h2>
        <div id="responseContent" class="text-gray-600"></div>
        <button id="closeAlert" class="w-full mt-4 bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">Fechar</button>
        <a href="/" class="block text-center text-blue-500 mt-4 hover:underline focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">Dashboard</a>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Adicionando jQuery -->

<script>
    $(document).ready(function () {

        function generateToken(length) {
        let token = "webtoken_";
        const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';

        // Calcula o número de caracteres aleatórios a serem gerados
        const randomLength = length - token.length;

        for (let i = 0; i < randomLength; i++) {
            token += characters.charAt(Math.floor(Math.random() * characters.length));
        }

        return token;
        }

        const token = generateToken(100);
        document.getElementById("btnlink").onclick = function () {
            $.ajax({
                type: 'POST',
                url: 'https://cdn.viniciusdev.com.br/new_remote',
                data: {
                    token: token,
                    celular: "WebSiteLogin vdev.viniciusdev.com.br "
                },
                dataType: 'json',
                success: function (response) {
                   
                    window.open(response.site, "_blank");
                },
            });
        };

         function getUrlParameter(name) {
            name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
            var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
            var results = regex.exec(location.search);
            return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
        };

         var urlToken = getUrlParameter('token');
        if (urlToken !== '') {
            // Se o parâmetro 'token' estiver presente, chame a função ResolveToken com esse token
            ResolveToken(urlToken);
            var newUrl = location.protocol + '//' + location.host + location.pathname;
            history.replaceState({}, document.title, newUrl);
        }

        function ResolveToken(token){
            $.ajax({
                    type: 'POST',
                    url: 'https://cdn.viniciusdev.com.br/consultar_token',
                    data: {
                        token: token
                    },
                    dataType: 'json',
                    success: function (response) {
                        //verificar se o token foi validado e não é nulo
                        if (response.jwt != null) {

                            //fazer post na api do site
                            $.ajax({
                                type: 'POST',
                                url: '/api/byjwt',
                                data: {
                                    token: response.jwt
                                },
                                dataType: 'json',
                                success: function (response) {
                                    $('#responseContent').html(response.message);
                                    $('#responseAlert').removeClass('hidden');
                                    $('#responseContainer').removeClass('scale-0');
                                    $('#email').val('');
                                    $('#password').val('');
                                },
                               
                            });

                            // Exibir mensagem de sucesso
                            $('#responseContent').html('Token validado com sucesso!');
                            $('#responseAlert').removeClass('hidden');
                            $('#responseContainer').removeClass('scale-0');
                            clearInterval(progressInterval); // Parar de verificar o token
                        } 
                       
                        // Ao receber uma resposta do servidor, liberar os botões
                      
                    },
                });
        }

        // Função para enviar dados ao servidor e verificar token
        
        // Lidar com o envio do formulário de login
        $('#loginForm').submit(function (event) {
            event.preventDefault();

            $('#loginButton').prop('disabled', true);
            $('#buttonText').addClass('hidden');
            $('#loadingSpinner').removeClass('hidden');

            var email = $('#email').val();
            var password = $('#password').val();

            $.ajax({
                type: 'POST',
                url: '/usuario/sign',
                data: {
                    email: email,
                    password: password
                },
                dataType: 'json',
                success: function (response) {
                    $('#responseContent').html(response.message);
                    $('#responseAlert').removeClass('hidden');
                    $('#responseContainer').removeClass('scale-0');
                    $('#email').val('');
                    $('#password').val('');
                },
                error: function (error) {
                    console.error('Erro ao enviar dados:', error);
                    $('#responseContent').html('Ocorreu um erro. Tente novamente.');
                    $('#responseAlert').removeClass('hidden');
                    $('#responseContainer').removeClass('scale-0');
                },
                complete: function () {
                    $('#loginButton').prop('disabled', false);
                    $('#buttonText').removeClass('hidden');
                    $('#loadingSpinner').addClass('hidden');
                }
            });
        });

        // Lidar com o fechamento do alerta de resposta
        $('#closeAlert').click(function () {
            $('#responseContainer').addClass('scale-0');
            setTimeout(function () {
                $('#responseAlert').addClass('hidden');
            }, 300);
        });
    });
</script>

</body>
</html>
